:root {
  font: 16px/145% system-ui, 'Segoe UI', Roboto, sans-serif;
  color-scheme: dark;
  background: #121213;
  color: #d7dadc;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100svh;
  box-sizing: border-box;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
